<style>
.button {
    background: #f1f1f1;
    color: #333;
    padding: 7px;
    cursor: pointer;
}
.active {
    background: #3F8DC4;
    color: #fff;
}
.inline {
    display: inline-block;
    *display: inline;
}
.del {
    background: brown;
    color: #fff;
}
</style>

<h3>EDIT:</h3>
<table>
<tr>
<th>id</th>
<th>link_url</th>
<th>link_date</th>
<th>link_count</th>
<th>link_url_short</th>
</tr>

{% for x in results %}
<tr>
<td>{{ x.link_id }}</td>
<td>{{ x.link_url }}</td>
<td>{{ x.link_date }}</td>
<td>{{ x.link_count }}</td>
<td>{{ request.host_url }}{{ x.link_url_short }}</td>
<td>
    <div class="button inline del"><a href="/delete?item={{ x }}">X</a></div>
</td>
</tr>
{% endfor %}

</table>

<div style="padding: 10px 0">
{% for n in range(start_pg, total_pgs + 1) %}
    {% if n == current_pg %}
        <a href="/edit?page={{ n }}" class="button active">{{ n }}</a>
    {% else %}
        <a href="/edit?page={{ n }}" class="button">{{ n }}</a>
    {% endif %}
{% endfor %}
</div>
