<h3>URL:</h3>
<h5>(example: <i>http://e1.ru</i>)</h5>
<form action="/new" method="POST">
    <input type="text" style="width: 200px" name="url">
    <input type="submit" value="Submit">
</form>

<h3>Top 20</h3>
{% for x in tops %}
<div><a href="{{ request.host_url }}{{ x }}">{{ request.host_url }}{{ x }}</a></div>
{% endfor %}
